:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --smoke: #c0c0c0;
    --light-gray: #D3D3D3;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --border-radius: 0.3rem;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

html {
    font-size: 1rem;
}
header {
    display: flex;
    flex-direction: row;
}

body {
    background: var(--gray-2);
    font-family:'Courier New', Courier, monospace; /* Add font */
    color: var(--smoke); /* Add color */
    margin: 0;
    padding: 0;
    line-height: 2rem;
}
