:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --smoke: #c0c0c0;
    --light-gray: #D3D3D3;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --border-radius: 0.3rem;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

html {
    font-size: 1rem;
}

body {
    background: var(--gray-2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Add font */
    color: var(--white); 
    margin: 5px;
    padding: 10px;
    line-height: 1.5;
}

.container-header {
    width: 100%;
    padding: 0;
    margin: 10px;
}

h1 {
    text-align: center;
}

.navbar {
    border-radius: 15px;
}

.container-form {
    max-width: 33%;
    align-content: left;
    
}

#input-text {
    color: black;
    background-color: white;
    border: var(--box-shadow);
    border-radius: 15px;
    margin-left: 12px;
    
}

/* changes grey placeholder text to more visible black */

::placeholder { 
    color: var(--black-2);
    font-size: 24px;
    padding-left: 10px;
    
 } 



