:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --smoke: #c0c0c0;
    --light-gray: #D3D3D3;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --border-radius: 0.3rem;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

html {
    font-size: 16px;
}

body {
    background: var(--gray-2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Add font */
    color: var(--white); 
    margin: 5px;
    padding: 10px;
    line-height: 1.5;
}

.container-header {
    width: 100%;
    padding: 0;
    margin: 10px;
}

h1 {
    text-align: center;
}

/*h3 text*/
#text{
    text-align: center;
}

.nav-wrapper {
    border-radius: 15px;
    background-color: #c0c0c0;
    justify-content: center;
    align-items: center;
}

.container-cards {
    width: 100%;
    
}

.book-card {
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
}

#book-form {
    display: flex;
    max-width: 33%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
}

form {
    display: flex;
    margin-top: .5%;
    flex-grow: 2;
}

#input-text {
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}

#search-button {
    background-color: #5D4F54 !important;
}




/* changes grey placeholder text to more visible black */

::placeholder { 
    color: var(--black-2);
    font-size: 24px;
} 

 /*bio description and instruction notes container*/

 .bio-container {
    background-color: #221D1F;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
    border: dashed;
    font-size: 25px;
}

/*entire card container*/
#book-div{
    margin-top: 100px;
    border-radius: 20px;
    padding: 20px;
    background-color: #221D1F;  
    border:#fff dashed;
}

/*javascript stuff inserted*/
.book-container {
    background-color: #5D4F54;
    display:block;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    color: #fff;
    max-width: 350px;
}

/*container holding javascript stuff*/
#book-record {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    border-radius: 20px;
}